<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="DvdLibraryEntityModel" connectionString="data source=tcp:dvdlibrary.database.windows.net,1433;initial catalog=DvdLibrary;user id=dwlodarz;password=Test1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>